header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.auth-container{
    padding: 2rem;
    border-radius: .6rem;
    height: auto;
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgba(255, 255, 255, 0.937);
    backdrop-filter: blur(1px);
}
.auth-form-container{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 100%;
    font-size: 14px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container input:hover{
    outline: 1px solid black;
}

.input-container label{
    margin: .2rem 0;
    text-transform: capitalize;
    font-style: italic;
}

.input-container input{
    border: none;
    outline: none;
    border-radius: .6rem;
    padding: 1rem;
}

.input-container input:focus{
    outline: 2px solid black;
}

.auth-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-btn-container button{
    margin-top: 1rem;
    border: none;
    background: none;
    background-color: rgba(125, 162, 241, 0.77);
    width: 100%;
    border-radius: 2rem;
    height: 2.6rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.auth-btn-container button:hover{
    background-color: rgba(117, 150, 222, 0.748);
    cursor: pointer;
}

.auth-link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 2rem;
}
.auth-link-container p{
    font-size: small;
    text-decoration: none;
    color: black;
}
a:-webkit-any-link {
    font-size: small;
    color: black;
    cursor: pointer;
    text-decoration: none; /* Behåll om du vill ha det i vissa fall */
}

a:-webkit-any-link:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline; /* Behåll om du vill ha det i vissa fall */
}


/* Animations */

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}