*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body{
  /* width: 90vw;
  height: 90vh; */
  margin: 0 1rem;
  background-image: url('/milad-fakurian-bexwsdM5BCw-unsplash.jpg'); /* Lägg till din bild här */
  background-size: cover; /* Bilden täcker hela sidan */
  background-position: center; /* Centrerar bilden */
  background-repeat: no-repeat; /* Förhindrar att bilden upprepas */
  height: 100vh; /* Ser till att hela sidan täcks */
}